.App {/*se le da un tamaño a la pagina*/
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background:linear-gradient(rgb(100, 203, 229), rgb(155, 56, 153));
  -webkit-user-select: none;
  user-select: none;
}

body {/*se quita el padding y margin que vienen por defecto en la pagina*/
  padding: 0;
  margin: 0;
}